@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0; padding: 0; font-family: 'Pretendard-Regular';
    scroll-behavior: smooth;
}
::-webkit-scrollbar {width: 3px;} 
::-webkit-scrollbar-thumb {background-color: rgba(220, 77, 58, 0.6);} 
::-webkit-scrollbar-track {background-color: black;}
::selection{background: #000; color: #fff}
li{list-style: none;}
a{text-decoration: none; color: inherit; display: block;}
img{display: block; border: 0;}
html,body {height: 100%;}
body{
    overflow-x: hidden;
	margin : 0;
	padding : 0;
}
/* header */

header{
    width: 100%;
    height: 80px;
    background: #fff;
    position: fixed;
    z-index: 999;
    box-shadow: 0 5px 10px 0 rgb(50 50 50 / 6%);
}
#head{
    width: 100%;
    height: 80px;
    display: flex;
}
.logo{
    width: 70%; height: auto;
    padding: 20px 0 0 30px;
    cursor: pointer;
}
.logo img{
    max-width: 100%; height: auto;
}

/* toggle */
.btn_container{
    position: fixed;
    width: 25px; height: 20px;
    top: 3%;
    right: 3%;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
}
.btn_container:hover{
    opacity: .7;
}
.btn_container.active .top{transform: translateY(11px) translateX(0) rotate(45deg);}
.btn_container.active .middle{opacity: 0;}
.btn_container.active .bottom{transform: translateY(-11px) translateX(0) rotate(-45deg);}
 

.btn_container span{
    background: rgb(132, 52, 77);
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;
}
.btn_container span:nth-of-type(2){top: 11px;}
.btn_container span:nth-of-type(3) {top: 22px;}
  
.fullscreen{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}
.fullbg{
    position: fixed;
    background: rgba(0, 0, 0, 0.938);
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
}
    
.fullscreen.open{
    opacity: .9;
    visibility: visible;
    height: 100vh;
}
/* nav */
nav{
    position: relative;
    height: 100%;
    top: 10%;
}

.sgnb{
    position: relative;
    font-size: 1.2rem; font-weight: bold;
    padding-left: 40px;
}
.sgnb>li{
    width: 30%;
    padding: 20px 30px;
    line-height: 40px;
    color: #fff;
}
.fas{
    padding-left: 30px;
}

.sgnb>li:nth-child(1){padding-top: 50px;}
.gnb{
    display: none;
    opacity: 0;
    position: absolute; top: 10%; left: 50%;
    font-weight: normal; font-size: 1rem;
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
}
@keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 30%;
    }
    100% {
      opacity: 1;
      left: 40%;
    }
}
.sub{
    display: none;
    font-weight: normal; font-size: .8rem;
    color: rgb(228, 205, 156);
}
.sub.on{font-weight: normal; font-size: .8rem;}

/* information */
.infor{
    position: absolute;
    width: 28%; height: 44%;
    background: rgba(255, 255, 255, 0.801);
    top: 20%; right: 10%;
    overflow: hidden;
    z-index: 99;
}
.inficon{height: 10%; padding: 15px 0 10px 0;}
.inficon img{
    width: 40px; height: 40px;
    margin: 0 auto;
}
.inforTxt{
    width: 100%; height: 70%;
    padding: 10px 20px 10px 20px; box-sizing: border-box;
}
.inforTxt h3{
    text-align: center; color: #333;
    font-size: 1.35rem; padding-top: 10px;
}
.inTitle{
    color: rgb(132, 52, 77);
    padding: 5px 0;
    font-size: 1.1rem; font-weight: bold;
    display: flex;
}
.inTitle .far{width:15px; height: 15px; margin: 2px;}
.inTitle h4{padding-left: 5px;}
.insec1{
    line-height: 20px;
    padding: 20px 0;
    color: #333; font-size: .9rem;
}
.insec2{
    line-height: 20px;
    color: #333; font-size: .9rem;
}
.insec2 .impor{color: #555; font-size: .85rem;}
.inforBtn{width: 100%; height: 10%; padding-top: 10px;}
.inforBtn li{width: 50%; font-size: .85em; float: left; text-align: left; line-height: 20px; color: #fff;}
.inforBtn li:nth-child(1){background: #af2d2d; padding: 10px 10px; box-sizing: border-box;}
.inforBtn li:nth-child(2){background: #cb6514; padding: 10px 10px; box-sizing: border-box;}
.inforBtn a .fas{float: right; line-height: 20px;}

/* slide */
.mySwiper{
    width: 100%; height: 70%;
}
.swiper-wrapper{
    display: -webkit-inline-box;
}
.swiper-slide{
	text-align:center;
	display:flex; 
	align-items:center; 
	justify-content:center;
	box-sizing: border-box; 
}
.bg{
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.425);
    position: absolute; z-index: 97;
}
.swiper-slide img{
    display: block;
    width: 100%; height: 100vh;
    object-fit: cover;
}

.slideTitle{
    position: absolute;
    left: 25%;
    top: 60%;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: .8rem; color: #fff;
    font-weight: bold;
    z-index: 99;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
    text-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    z-index: 999;
}

.slideTitle h2 span:nth-child(1){
    color: #fff;
    font-weight: 200;
    display: inline-block;
}
.slideTitle h2 .ani{
    text-shadow: 2px 4px 2px rgb(27, 27, 27);
    font-size: 1.8rem;
    animation: txt 10s infinite;
}
@keyframes txt{
    0% {transform: rotateX(0deg); opacity: 1;}
    5% {transform: rotateX(90deg); opacity: 0;}
    40% {transform: rotateX(0deg);}
}

/* content */
#content section{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    font-weight: normal;
}

/* sec 1 */
#content .sec1{display: flex;}
.Qtxt{
    width: 20%; margin: 0;
}
.Qtxt p{
    color: #333;
    margin-top: 30px;
    font-size: 1.5rem;
}
/* .Quick{width: 80%;} */
.Quick{ 
    width: 80%;
    padding: 1em 1em; 
    display: flex;
}
.Quick li { 
    --c: rgb(132, 52, 77);
    color: var(--c);
    font-size: .8rem;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 10em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: .5em;
    cursor: pointer;
}

.Quick li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.Quick li:hover {
    color: rgb(255, 255, 255);
}

.Quick li:hover span {
    transform: translateY(0) scale(2);
}

.Quick li span:nth-child(1) {
    --n: 1;
}

.Quick li span:nth-child(2) {
    --n: 2;
}

.Quick li span:nth-child(3) {
    --n: 3;
}

.Quick li span:nth-child(4) {
    --n: 4;
}


/* sec 2 */
.sec2{padding-bottom: 20px;}
.notice{
    width: 95%; height: 50px; background: rgb(238, 238, 238); border-radius: 60px; 
    margin: 0 auto;
    overflow: hidden; position: relative;
}
.notitle{
    width: 20%; height: 40px;
    float: left;
    color: rgb(132, 52, 77);
    margin: 0;
    padding-top: 10px;
    font-size: 1.5rem; font-weight: bold;
}
.rolling{float: left; position: absolute;}
.rolling li{width: 70%; height: 40px; float: left; padding-left: 20%;}
.rolling a{width: 60%; line-height: 40px; padding: 5px 0 5px 10px;}
.rolling a img{width: 20px; height: 20px; margin: 0; padding: 10px; float: left;}
.rolling a span{color: rgb(89,87,87);}
.cont{width:15px; position: absolute; top: 2px; right: 15px;}
.cont .up{padding: 5px;}
.cont .down{padding: 5px;}
button{background: none; border: none;}



/* sec 3 */
.sec3{padding: 30px; padding-bottom: 0; display: flex;}
#s_banner_wrap {width: 35%; height: 250px; position: relative; margin:10px 0;}
.bxslider_02{width: 35%; height: 250px;}
.banner_01 {width: 100%; height: 100%; background: url('../img/mslide1.jpg') center center;}
.banner_02 {width: 100%; height: 100%; background: url('../img/mslide2.jpg') center center;}
.banner_03 {width: 100%; height: 100%; background: url('../img/mslide3.jpg') center center;}
.banner_04 {width: 100%; height: 100%; background: url('../img/mslide4.jpg') center center;}
.bxslider_02 li img{
    display: block;
    width: 100%; height: 100vh;
    object-fit: cover;
}
#bx-pager1 {position: absolute; bottom:10px;}
#bx-pager1 a{
    float: left; margin: 0 5px; display: block; width: 20px; height: 20px; 
    font-size: 12px; line-height: 20px; text-align: center; background:#eee; color:#333;
    border-radius: 50px;
}
#bx-pager1 a:hover, .bx-pager1 a:active {background: #000; color: #eee;}
#bx-pager1 a.active{ background: #000; color: #eee;}

.nowTitle{
    width: 30%; height: 40px; position: absolute;
    float: left; text-align: left;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 20px 0 0 20px;
    font-size: 1.5rem; font-weight: bold; z-index: 99;
}
.nowName{
    font-weight: normal; font-size: .95rem;
    line-height: 30px; color: rgba(255, 255, 255, 0.829);
}
.now, .now_wrap{width: 65%; height: 250px; position: relative; margin: 10px;}
.bxslider_03{
    width: 65%; height: 250px;
    position: relative;
}
.bx03{width: 100%; height: 100%;}
.bx04{width: 100%; height: 100%;}
.bxslider_03 li img{
    display: block;
    width: 100%; height: 100%;
    object-fit: cover;
}
.nowsc{
    width: 80px; height: 30px; line-height: 30px;
    background-color: rgb(132, 52, 77); color: #fff;
    border-radius: 30px; font-size: .8rem;
    position: absolute;
    bottom: 20px; right: 20px;
    transition: .3s;
    z-index: 101; cursor: pointer;;
}
.nowsc:hover{
    background-color: #fff;
    color: rgb(132, 52, 77);
    font-weight: bold; transition: .3s;
}


.display3{width: 95%; margin: 0 auto;}
.imgbox{display: flex;}
.imgbox li{ 
    width: calc(100% / 3);
    margin: 10px; margin-right: 0px;
    position: relative;
    overflow: hidden;
}
.imgbox li a{
    width: 100%; height: 200px;
}
.imgbox img{
    width: 100%; height: auto;
    object-fit: center;
}

.imgbox li .txtbg{
    width: 100%; height: 100%;
    padding: 20px; box-sizing: border-box;
    color: #fff; text-align: center;
    position: absolute;
    top: 0; left:0;
}
.txtbg h2{
    font-size: 1.4rem;
    padding: 20px 0;
}
.txtbg p{
    font-size: .8rem;
}
.txtbg .sc{
    width: 80px; height: 30px; line-height: 30px;
    background-color: rgb(132, 52, 77);
    border-radius: 30px;
    position: absolute;
    bottom: 5px; right: 5px;
    transition: .3s;
}
.txtbg .sc:hover{
    background-color: #fff;
    color: rgb(132, 52, 77);
    font-weight: bold; transition: .3s;
}


/* sec 5 */
.cotitle{
    padding-top: 20px;
    width: 100%;
    display: flex;
    color: rgb(132, 52, 77);
    margin: 0 auto;
    font-size: 1.5rem; font-weight: bold;
}
.cotitle p{padding-left: 2%;}
.cotitle .more{
    margin: 0;
    color: rgb(132, 52, 77);
    float: right;
}
.sec5 #container{
    box-sizing: border-box;
    height: auto;
    width: 100%; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} 
.sec5 .txtBox{padding: 10px 0;}
.sec5 h3{
    color: #333; line-height: 25px;
    text-align: center;
}
.collect{padding: 10px;}
.sec5 .colle{
    width: 200px; height: 200px;
    margin: 0 auto;
    overflow: hidden;
    transition: .3s;
}
.sec5 img{width: 100%; height: 200px; transition: .3s; opacity: 0.8;}
.sec5 a:hover img{opacity: 1;}

/* sec 6 */
.familySite{
    width: 100%;
    padding: 20px 0;
}
.familySite .fnav{
    width: 100%;
    margin: 0 auto;
}
.fcontainer{width: 100%; margin: 0 auto;}
.fTxt{
    margin: 0;
    color: rgb(132, 52, 77);
    float: left;
    font-size: .9rem; font-weight: bold;
    padding: 5px 0;
}
button{
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
}
button.learn-more{
  width: 8rem;
  height: auto;
  margin: 0 10px 10px 0;
}
button.learn-more .circle{
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2rem;
  height: 2rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon{
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow{
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 5px; top: 0;
  width: 15px;
  height: 2px;
  background: none;
}
button.learn-more .circle .icon.arrow::before{
  position: absolute;
  content: "";
  top: -0.3rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text{
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle{
  width: 100%;
}
button:hover .circle .icon.arrow{
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text{
  color: #fff;
}

/* footer */
footer{
    width: 100%; height: auto;
    background: rgb(132, 52, 77);
}
#foot{
    width: 100%;
    color: #fff;
}
.fLogo{
    width: 200px; height: 45px; padding: 28px 0px 27px 0px;
    margin: 0 auto;
}
.fLogo img{width: 100%;}
.copyright{
    width: 100%; height: 100px;
    padding: 25px 0; box-sizing: border-box;
}
.copyright p{
    font-size: 12px;
    text-align: center;
}
.copyright p:nth-child(2){
    font-size: 10px;
    color: #fff;
    padding-top: 10px;
}
.fMenu{
    width: 100%; margin: 0 auto; text-align: center;
}
.fMenu a{
    width: calc(90%/6); height: 10px; display: inline-block;
    font-size: .85rem;
    padding: 10px 0px; 
}
.fMenu a:hover{text-decoration: underline #fff;}

/* desktop */
@media all and (min-width:1024px){

}
/* tablet */
@media all and (min-width:768px) and (max-width:1023px){
    .slideTitle{
        width: 100%; text-align: center;
        left: 50%;
        top: 21%;
    }
    .infor{width: 80%; line-height: 10px;}
    .inforBtn{padding: 0;}
    #content .sec1, .Qtxt{display: block; text-align: left; padding: 0;}
    .Qtxt{width: 100%;}
    .Quick{display: inline-block; width: 100%; height: 100%; padding: 10px 0;}
    .Quick li{float: left;}
    #content .sec3, .imgbox{width: 100%; display: inline-block; box-sizing: border-box;}
    #s_banner_wrap, .now{width: 100%; margin: 0;}
    .rolling a{width: 100%; font-size: .7rem;}
    #content .sec4 li{width: 100%; margin: 10px 0 auto;}
    .sec5 #container{display: inline-block;}
    .fMenu a{
        width: calc(100%/5); height: 10px; display: inline-block;
        font-size: .7rem;
    }
}
/* mobile */
@media all and (max-width:767px){
    .sgnb{padding-left: 20px;}
    .mySwiper, .infor{height: auto;}
    .infor{top: 35%;}
    .slideTitle{
        width: 100%; text-align: center;
        left: 50%;
        top: 21%;
    }
    .notitle{font-size: 1rem; padding-top: 15px;}
    .infor{width: 80%; line-height: 10px;}
    .inforBtn{padding: 0;}
    #content .sec1, .Qtxt{display: block; text-align: left; padding: 0;}
    .Qtxt{width: 100%;}
    .Quick{display: inline-block; width: 100%; height: 100%; padding: 10px 0;}
    .Quick li{float: left;}
    #content .sec3, .imgbox{width: 100%; display: inline-block; box-sizing: border-box;}
    #s_banner_wrap, .now{width: 100%; margin: 0;}
    .rolling a, .nowName{width: 100%; font-size: .7rem;}
    #content .sec4 li{width: 100%; margin: 10px 0 auto;}
    .sec5 #container{display: inline-block;}
    .fMenu a{
        width: calc(100%/5); height: 10px; display: inline-block;
        font-size: .45rem;
    }
    .familySite, .fTxt{width: 100%; display: inline-block;}
    .fTxt{padding-bottom: 20px;} 
    .insec1 span, .insec2 span, .insec2 .impor{font-size: .65rem;}
    .inTitle{font-size: .9rem;}
}
