@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    margin: 0; padding: 0; font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {width: 3px;} 
::-webkit-scrollbar-thumb {background-color: rgba(220, 77, 58, 0.6);} 
::-webkit-scrollbar-track {background-color: black;}
::selection{background: #000; color: #fff}
li{list-style: none;}
a{text-decoration: none; color: inherit; display: block;}
img{display: block; border: 0;}
html,body {height: 100%;}
body{
    overflow-x: hidden;
	margin : 0;
	padding : 0;
}
/* header */

header{
    width: 100%;
    height: 100px;
    background: #fff;
    position: fixed;
    z-index: 999;
    box-shadow: 0 5px 10px 0 rgb(50 50 50 / 6%);
}
#head{
    width: 100%;
    height: 100px;
    display: flex;
}
.logo{
    width: 70%; height: auto;
    padding: 30px 0 0 10px;
    cursor: pointer;
}

/* toggle */
.btn_container{
    position: fixed;
    width: 25px; height: 20px;
    top: 4.5%;
    right: 3%;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
}
.btn_container:hover{
    opacity: .7;
}
.btn_container.active .top{transform: translateY(11px) translateX(0) rotate(45deg);}
.btn_container.active .middle{opacity: 0;}
.btn_container.active .bottom{transform: translateY(-11px) translateX(0) rotate(-45deg);}
 

.btn_container span{
    background: rgb(132, 52, 77);
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;
}
.btn_container span:nth-of-type(2){top: 11px;}
.btn_container span:nth-of-type(3) {top: 22px;}
  
.fullscreen{
    position: fixed;
    background: rgba(0, 0, 0, 0.938);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}
    
.fullscreen.open{
    opacity: .9;
    visibility: visible;
    height: 100vh;
}
/* nav */
nav{
    position: relative;
    height: 100%;
    top: 10%;
}

.sgnb{
    position: relative;
    font-size: 1.2rem; font-weight: bold;
}
.sgnb>li{
    width: 30%;
    padding: 20px 30px;
    line-height: 40px;
    color: #fff;
}
.fas{
    padding-left: 30px;
}

.sgnb>li:nth-child(1){padding-top: 50px;}
.gnb{
    display: none;
    opacity: 0;
    position: absolute; top: 10%; left: 40%;
    font-weight: normal; font-size: 1rem;
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
}
@keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 30%;
    }
    100% {
      opacity: 1;
      left: 40%;
    }
}
.sub{
    display: none;
    font-weight: normal; font-size: .8rem;
    color: rgb(228, 205, 156);
}
.sub.on{font-weight: normal; font-size: .8rem;}
/* information */
.infor{
    position: absolute;
    width: 25%; height: 55%;
    background: rgba(255, 255, 255, 0.801);
    top: 20%; right: 10%;
    z-index: 99;
}
.infor img{
    width: 40px; height: 40px;
    padding: 10px 10px;
}
/* slide */
.mySwiper{
    width: 100%; height: 80%;
}
.swiper-wrapper{
    display: -webkit-inline-box;
}
.swiper-slide{
	text-align:center;
	display:flex; 
	align-items:center; 
	justify-content:center;
	box-sizing: border-box; 
}
.bg{
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.425);
    position: absolute; z-index: 99;
}
.swiper-slide img{
    display: block;
    width: 100%; height: 100vh;
    object-fit: cover;
}

.slideTitle{
    position: absolute;
    left: 25%;
    top: 60%;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 1rem; color: #fff;
    font-weight: bold;
    z-index: 99;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
    text-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    z-index: 999;
}

.slideTitle h2 span:nth-child(1){
    color: #fff;
    font-weight: 200;
    display: inline-block;
}
.slideTitle h2 .ani{
    text-shadow: 2px 4px 2px rgb(27, 27, 27);
    font-size: 2rem;
    animation: txt 10s infinite;
}
@keyframes txt{
    0% {transform: rotateX(0deg); opacity: 1;}
    5% {transform: rotateX(90deg); opacity: 0;}
    40% {transform: rotateX(0deg);}
}

/* content */
#content section{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-weight: normal;
}
#content .sec1{display: flex;}
.Qtxt{
    width: 20%; margin: 0;
}
.Qtxt p{
    color: #333;
    margin-top: 10%;
    font-size: 1.5rem;
}
.Quick{width: 80%;}
.Quick ul{ 
    padding: 1em 1em; 
    display: flex;
}
.Quick ul li { 
    --c: rgb(132, 52, 77);
    color: var(--c);
    font-size: .8rem;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 10em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: .5em;
    cursor: pointer;
}

.Quick ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.Quick ul li:hover {
    color: rgb(255, 255, 255);
}

.Quick ul li:hover span {
    transform: translateY(0) scale(2);
}

.Quick ul li span:nth-child(1) {
    --n: 1;
}

.Quick ul li span:nth-child(2) {
    --n: 2;
}

.Quick ul li span:nth-child(3) {
    --n: 3;
}

.Quick ul li span:nth-child(4) {
    --n: 4;
}